<section class="content-header">
  <h1>
    Todos os Restaurantes
  </h1>
</section>


<section class="content">

  <div class="row">
          <div *ngFor="let restaurant of restaurants" class="col-sm-6 col-xs-12">
              <mt-restaurant [restaurant]="restaurant"></mt-restaurant>
          </div>
          <div *ngIf="restaurants?.length === 0" class="col-xs-12">
            <p class="lead text-center">
              Não foram encontrados itens para a sua busca.
            </p>
          </div>
    </div>

</section>